{% extends "base.html" %}

{% block leftCol %}
  <h4>Add Message</h4>
  <form method='POST' action='' enctype="multipart/form-data">{% csrf_token %}
    <div class="form-group">
      <label>
        User
      </label>
      {{ form.user }}
      <label>
        Message
      </label>
      {{ form.message }}
    </div>
    <button type="submit" class="btn btn-info">Add Message</button>
  </form>
{% endblock %}

{% block rightCol %}
  <h4>Messages</h4>
  {% for obj in list %}
    <hr>
    <p>
      <small>{{ obj.user }}</small><br>
      {{ obj.message }}<br>
      <small class="gray">{{ obj.timestamp }}</small>
    </p>
  {% endfor %}
{% endblock %}
