.rightCol {
  height: calc(100vh - 58px);
  overflow: scroll;
  background-color: #F2F7F7;
  padding: 20px 70px 0 70px;
}

.leftCol {
  padding: 20px 70px 50px 70px;
}

h4 {
  margin-top: 10px;
  text-align: center;
}

.gray {
  color: #8D9090;
}

label {
  padding-top: 10px;
}
